<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
        </appender>

        <appender name="SentryAppender" type="SharpRaven.Log4Net.SentryAppender, SharpRaven.Log4Net">
            <DSN value="https://5678648980b04ee993b4016426acd9cc:583834f2b78642c198b0f3cd5b9660cc@app.getsentry.com/26671" />
            <Logger value="SharpRaven.Log4Net.Tests" />
            <threshold value="ERROR" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%5level - %message%newline" />
            </layout>
        </appender>

        <logger name="ConsoleLogger">
            <level value="INFO" />
            <appender-ref ref="ConsoleAppender" />
        </logger>

        <root>
            <level value="INFO" />
            <appender-ref ref="SentryAppender" />
        </root>
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>